each section in public._data.paths
    li
        if classes
            a(href="#{ section.path }" class="#{classes}") #{section.label}
        else
            a(href="#{ section.path }") #{section.label}

