nav.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
            button(type="button",
                    class="navbar-toggle collapsed",
                    data-toggle="collapse",
                    data-target="#navbar",
                    aria-expanded="false"
                    aria-controls="navbar")
            span.sr-only
            span.icon-bar
            span.icon-bar
            span.icon-bar

        #navbar.navbar-collapse.collapse
            ul#nav-fixed.nav.navbar-nav
                != partial("../_menu/_menu")

        a.button-collapse(href='#', data-activates='nav-mobile')
            i.mdi-navigation-menu